{% extends "layout.html" %}


    {% block content %}
      <div class="container">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

        <h1 align="center" class="head">World Series Champions   <img class="head" align="center" src="http://www.stickpng.com/assets/images/584d4c0e0a44bd1070d5d495.png" width="90px" height="60px"/></h1>

        <p class="paragraph">  The ultimate prize in baseball, or any sport for that matter, is to win a championship.
        Before that can happen, teams must go through a rigorous 162 game season, and the top 5 teams in each league
          make the playoffs. The playoffs are a tournament style of play where it starts with a Wildcard game.</p>
          <p>  The winner of the Wildcard game then faces the team with the best record in the league. The other two teams who make it are matched
          up against each other. The divisional rounds are a best of 5 series. The winners will then face off in the
            league championship series.</p>
           <p> This is a best of 7 series with the winners going on to the World Series. This is
          also a 7 game series. The player who performs the best is in the series is awards the World Series MVP trophy.
          Below is a list of the World Series results as well as the MVP of those series.
        </p>


        <table class="table">
        <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Champion</th>
          <th scope="col">Runner Up</th>
          <th scope="col">World Series MVP</th>

        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">2017</th>
          <td>Houston Astros</td>
          <td>Los Angeles Dodgers</td>
          <td>George Springer</td>
        </tr>
        <tr>
          <th scope="row">2016</th>
          <td>Chicago Cubs</td>
          <td>Cleveland Indians</td>
          <td>Ben Zobrist</td>
        </tr>
        <tr>
          <th scope="row">2015</th>
          <td>Kansas City Royals</td>
          <td>New York Mets</td>
          <td>Salvador P&eacute;rez</td>
        </tr>
        <tr>
          <th scope="row">2014</th>
          <td>San Francisco Giants</td>
          <td>Kansas City Royals</td>
          <td>Madison Bumgarner</td>
        </tr>
        <tr>
          <th scope="row">2013</th>
          <td>Boston Red Sox</td>
          <td>St. Louis Cardinals</td>
          <td>David Ortiz</td>
        </tr>
        </tbody>


      </table>
      <a href="" >See More World Series Results</a>
</div>
    {% endblock %}

