{% extends "layout.html" %}


    {% block content %}
      <div class="container">
      <h1>World Series Champions</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Champion</th>
          <th scope="col">Runner Up</th>
          <th scope="col">World Series MVP</th>

        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">2017</th>
          <td>Houston Astros</td>
          <td>Los Angeles Dodgers</td>
          <td>George Springer</td>
        </tr>
        <tr>
          <th scope="row">2016</th>
          <td>Chicago Cubs</td>
          <td>Cleveland Indians</td>
          <td>Ben Zobrist</td>
        </tr>
        <tr>
          <th scope="row">2015</th>
          <td>Kansas City Royals</td>
          <td>New York Mets</td>
          <td>Salvador P&eacute;rez</td>
        </tr>
        <tr>
          <th scope="row">2014</th>
          <td>San Francisco Giants</td>
          <td>Kansas City Royals</td>
          <td>Madison Bumgarner</td>
        </tr>
        <tr>
          <th scope="row">2013</th>
          <td>Boston Red Sox</td>
          <td>St. Louis Cardinals</td>
          <td>David Ortiz</td>
        </tr>
        </tbody>


      </table>
</div>
    {% endblock %}

