{% extends "layout.html" %}


    {% block content %}
      <div class="container">
          <link rel="stylesheet" type="text/css" href=""/>
      <h1>World Series Champions</h1>
          <img class="mlb" src="http://www.stickpng.com/assets/images/584d4c0e0a44bd1070d5d495.png" width="110px" height="80px"/>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Champion</th>
          <th scope="col">Runner Up</th>
          <th scope="col">World Series MVP</th>

        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">2017</th>
          <td>Houston Astros</td>
          <td>Los Angeles Dodgers</td>
          <td>George Springer</td>
        </tr>
        <tr>
          <th scope="row">2016</th>
          <td>Chicago Cubs</td>
          <td>Cleveland Indians</td>
          <td>Ben Zobrist</td>
        </tr>
        <tr>
          <th scope="row">2015</th>
          <td>Kansas City Royals</td>
          <td>New York Mets</td>
          <td>Salvador P&eacute;rez</td>
        </tr>
        <tr>
          <th scope="row">2014</th>
          <td>San Francisco Giants</td>
          <td>Kansas City Royals</td>
          <td>Madison Bumgarner</td>
        </tr>
        <tr>
          <th scope="row">2013</th>
          <td>Boston Red Sox</td>
          <td>St. Louis Cardinals</td>
          <td>David Ortiz</td>
        </tr>
        <tr>
            <td class ="link"><a href="">See More World Series Results</a></td>

        </tr>
        </tbody>


      </table>
</div>
    {% endblock %}

