<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href=""><span class="glyphicon glyphicon-user"></span>About Baseball</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> MLB Archives <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">World Series Results</a></li>
            <li><a href="">Hitting Stats</a></li>
            <li><a href="">Pitching Stats</a></li>
            <li><a href="">Award Winners</a></li>
            <li><a href="">Division Records</a></li>
        <!--    <li class="divider"></li>
            <li><a href="">Getting Started on Heroku with Heroku Connect</a></li>
            <li><a href="">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>-->
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> MLB History</a>
      </li>
    </ul>
  </div>
</nav>
